{% load staticfiles %}
<html>
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/css?family=Anton|Russo+One" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
    <div id="dcha">
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <label>User: </label><input type="text" name="username"><br>
                <label>Pass: <input type="password" name="password"><br>
                <a href="{% url 'login' %}" style="text-decoration: none; color: black;"><input type="submit" value="Login" name="Login"></a>
                <a href="{% url 'registration' %}" style="text-decoration: none; color: black;"><input type="button" value="Register" name="Register"></a>
            </form>
    </div>
    <div id="header">
        <center><h1>Proyecto de Competiciones</h1></center>

    </div>
    <div id="inside">
    {% block content %}
        <a href="{% url 'competitions_signup' pk=comp.pk %}"><h2>{{comp}}</h2></a>
        <p>{{comp.text}}</p>
        <p><i><b>Published: {{comp.pub_date}}</b></i></p>
    {% endblock %}
    </div>
</body>
</html>