{% load staticfiles %}
<html>
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
    <div id="header">
        <center><h1>Web de competiciones</h1></center>
    </div>
    <div id="inside">
    {% for comp in comps %}
        <a href="{% url 'competitions_signup' pk=comp.pk %}"><h2>{{comp}}</h2></a>
        <p>{{comp.text}}</p>
        <p><i><b>Published: {{comp.pub_date}}</b></i></p>
    {% endfor %}
    </div>
</body>
</html>