#header {
    padding: 45px;
    background-color: #336699;
    font-family: 'Concert One', cursive;
    font-size: 24px;
}

#inside{
    padding-left: 15px;
    padding-right: 20px;
}

h1 {
    color: white;
}

h2 {
    color: #336699;
    font-family: 'Anton', sans-serif;
}

#dcha {
    position: fixed;
    right: 0px;
    padding: 30px;
    background-color: #0099CC;
}